* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.char-input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    caret-color: transparent;
    cursor: default;
    border: black;
    border: solid;
}

.char-input:focus {
    border: black;
    outline: none; /* Ensure there’s no darker outline */
    border: solid;
}

.winner {
    animation-name: rainbow;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes rainbow {
    0%, 100% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: pink;
    }
    75% {
        color: green;
    }
}

.animate {
    animation-name: shake;
    animation-duration: 0.5s;
    /* transition: transform 0.5s ease; */
    /* transform: scale(1.2); */
}

.title {
    text-align: center;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    z-index: 1000;
}